{% extends "users/base.html" %}

{% block content %}
  <div class="bg-gradient" style="margin-left: -25px; margin-right: -25px;">
    <div class="row p-5">
      <div class="col-md-6">
        <div class="h5 text-white-50 pt-5">
          We currently support WAV, MP4, and MP3 files.
        </div>
        <div class="h1 text-white pb-5">Start AutoScribing,
          <br/> {{user}}
        </div>

      </div>
      <div class="col-md-6 text-center pt-3">
        <img class="text-white" width="200" height="200" viewBox="0 0 200 200" src="https://voicedocs.com/img/transcriber-girl-medium.png">
          
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="margin-top: 2%;">
        
        <h3>Upload your file:</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="uploaded_file" type="file" placeholder="Upload audio file" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
